nav.nav

    .nav__bg-wrapper
      .container
        .nav__bg

    .container 
        .nav__wrapper 
            a(href="index.html").nav__logo.logo: img(src="img/logo-brand.svg", alt="Logo")

            .nav__controls 
                ul 
                    li: a(href="#" data-target="#disclosure").js-modal-open Advertising Disclosure
                    li: span.updated.nav__upd Updated March, 2022