.categories-mobile {
  z-index: 9;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0 10px;
  box-shadow: 0px 4px 28px rgba(0, 14, 86, 0.07);
  transition: box-shadow 0.3s ease;

  .splide__arrows {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
  }

  .splide__arrow {
      background: none;
      padding: 0;
      border: none;
      width: 22px;
      height: 37px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 8px 14px;
      opacity: 0.4;
      position: absolute;
      transition: opacity 0.3s ease;
      cursor: pointer;
      
      &:hover {
          opacity: 1;
      }

      &--prev {
          background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.00459 13.1344C6.39851 13.5283 7.03719 13.5283 7.43112 13.1344C7.82504 12.7405 7.82504 12.1018 7.43112 11.7079L2.43686 6.71361L7.42842 1.72206C7.82234 1.32813 7.82234 0.689454 7.42842 0.295529C7.03449 -0.0983964 6.39581 -0.0983974 6.00189 0.295528L0.295767 6.00165C-0.0981582 6.39557 -0.0981583 7.03425 0.295767 7.42818C0.310355 7.44276 0.325278 7.45681 0.340512 7.47032L6.00459 13.1344Z' fill='%23737373'/%3E%3C/svg%3E%0A");
          left: -22px;
      }

      &--next {
          background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.72197 0.295291C1.32805 -0.0986339 0.68937 -0.0986339 0.295444 0.295291C-0.098481 0.689217 -0.0984817 1.3279 0.295444 1.72182L5.2897 6.71608L0.298146 11.7076C-0.0957792 12.1016 -0.0957792 12.7402 0.298146 13.1342C0.692071 13.5281 1.33075 13.5281 1.72468 13.1342L7.43079 7.42804C7.82472 7.03411 7.82472 6.39544 7.43079 6.00151C7.41621 5.98693 7.40129 5.97288 7.38606 5.95938L1.72197 0.295291Z' fill='%23737373'/%3E%3C/svg%3E%0A");
          right: -22px;
      }
  }

  .splide {
      position: relative;
      display: flex;
      align-items: center;
  }

  &__btn {
      text-decoration: none;
      font-weight: 400;
      font-size: 15px;
      color: #000000;
      height: 37px;
      display: flex;
      align-items: center;
      padding: 0 16px;

      &.active {
          color: #1E2B55;
          font-weight: 500;
          background: #E7EBFA;
      }
  }
}