// Modal START

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1055;
  display: block;
  width: 0;
  height: 0;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  visibility: hidden;

  opacity: 0;

  transition: opacity 0.3 ease;

  &.btn-close_out {

    .modal-content {
      margin: 30px;
      overflow: unset;

      @media screen and (max-width: 575px) {
        margin: 0 5px; 
        margin-top: 35px;
      }

      @media screen and (max-width: 400px) {
        margin-top: 30px;
      }
    }

    .modal-header {
      position: absolute;
      border: none;
      padding: 0;
      margin: 0;
      width: 100%;
      left: 0;
      top: 0;
    }
  
    .btn-close {
      position: absolute;
      right: -30px;
      top: -30px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #FFFFFF;
      box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
      background-size: 20px;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.782 7.83151C15.4507 7.16281 15.4507 6.07864 14.782 5.40994C14.1133 4.74124 13.0291 4.74124 12.3604 5.40994L10.1465 7.62384L7.78562 5.26291C7.11692 4.59421 6.03274 4.59421 5.36404 5.26291C4.69534 5.93161 4.69534 7.01578 5.36404 7.68448L7.72497 10.0454L5.09572 12.6747C4.42702 13.3434 4.42702 14.4275 5.09572 15.0962C5.76442 15.7649 6.84859 15.7649 7.51729 15.0962L10.1465 12.467L12.6288 14.9492C13.2975 15.6179 14.3816 15.6179 15.0503 14.9492C15.719 14.2805 15.719 13.1963 15.0503 12.5276L12.5681 10.0454L14.782 7.83151Z' fill='%23787878'/%3E%3C/svg%3E%0A");
      
      @media screen and (max-width: 575px) {
        right: 0;
        top: -35px;
      }

      @media screen and (max-width: 400px) {
        width: 25px;
        height: 25px;
        top: -30px;
        background-size: 18px;
      }
    }
  }
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 1.75rem auto;
  pointer-events: none;
  max-width: calc(100% - 30px);
  display: flex;
  align-items: center;
  z-index: 1057;

  min-height: calc(100% - 3.5rem);

  .modal-content {
    max-height: 100%;
    overflow: hidden;
  }

  .modal-body {
    overflow-y: auto;
  }
}

@media (min-width: 576px) {

  .modal-dialog {
    max-width: 560px;
  }

}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.07);
  border-radius: 5px; 
  background-clip: padding-box;
}

// Modal background
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1056;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0;

  transition: opacity 0.3s ease;
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 14px 40px;
  border-bottom: 1px solid #D9E8FF;

  h1,h2,h3,h4,h5,h6 {
    margin: 0;
    text-transform: none;
  }

  h4 {
    font-weight: 600;
    color: #262626;
  }

  .btn-close {
    box-sizing: content-box;
    width: 30px;
    height: 30px;
    padding: 0;
    background-size: 20px 20px;
    background-position: center;
    color: #000;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='19.7783' y='2.37451' width='25' height='2.5' transform='rotate(135 19.7783 2.37451)' fill='%23101864'/%3E%3Crect x='18.0713' y='19.4456' width='25' height='2.5' transform='rotate(-135 18.0713 19.4456)' fill='%23101864'/%3E%3C/svg%3E%0A");
    border: 0;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: opacity 0.3s ease;
    background-color: transparent;
    background-repeat: no-repeat;
    position: relative;
    right: -20px;

    &:hover {
      color: #000;
      text-decoration: none;
      opacity: 1;
    }
  }
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 20px 40px;
  padding-bottom: 40px;

  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  color: #4E4E4E;

  a {
    font-weight: 600;
    text-decoration: none;
    color: #2F3787;
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  p {
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.modal.show {
  display: block;
  visibility: visible;
  opacity: 1;
  z-index: 1055;
  width: 100%;
  height: 100%;
  
  .modal-backdrop {
    opacity: .5;
  }
}

// Modal END