@import 'variables';

@media screen and (min-width: 576px) {
  h1,h2,h3,h4,h5,h6 {
    line-height: 120%;
  }

  h1 {
    font-size: 32px;
    font-weight: 600;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
      color: #262626;
      font-size: 22px;
  }

  h5 {
      color: #262626;
      font-size: 17px;
  }

  h6 {
      font-size: 16px; 
      color: #262626;
  }

  .main-header {
    &::after {
      width: 197px;
      height: 160px;
    }

    &__offer-desc {
      display: block;
      padding-right: 125px;

      @media screen and (min-width:650px) {
        padding-right: 105px;
      }

      & > *:last-child {
        margin-bottom: 0;
      }
    }

    &__offer-title {
      @media screen and (min-width:650px) {
        padding-right: 0;
      }
    }

    &__offer-desc_mobile {
      display: none;
    }

    &__offer {
      position: relative;
      
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='7' height='64' viewBox='0 0 7 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect opacity='0.6' width='1' height='64' fill='%2372E5FE'/%3E%3Crect opacity='0.6' x='6' y='11' width='1' height='42' fill='%2372E5FE'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        flex-shrink: 0;
        position: absolute;
        width: 7px;
        height: 64px;
        left: -25px;
        top: calc(50% - 25px);

        @media screen and (min-width:650px) {
          left: -33px;
        }
      }
    }
  }

  .nav {
    &__upd {
      display: flex;

      margin-left: 30px;
    }
  }

  .main-card {
    max-width: unset;

    &__mobile {
      display: none;
    }

    &__cta-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      row-gap: 10px;

      .btn, .btn-line {
        max-width: 180px;
        width: 100%;
      }
    }

    &__ranked-box {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 140px;

      .card-rank {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;

        &__value {
          font-size: 28px;
          margin-bottom: 10px;
        }

        &__trigger {
          font-weight: 400;
          font-size: 16px;
          text-transform: uppercase;
          color: #101864;
          margin-bottom: 10px;
        }
      }
    }

    &__logo-box {
      width: 40%;
    }

    &__offer-box {
      width: 33%;
      padding: 10px 15px;
      padding-left: 5px;
      align-items: center;
      justify-content: center;
    }
  }

  .default-header {
    box-shadow: none;
    overflow: hidden;

    &__offer-upd {
      margin-left: 0;
    }

    &__offer {
      z-index: 0;
      text-align: left;
      min-height: 130px;
      width: 100%;

      position: relative;
      padding-left: 25px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &-title {
        max-width: 60%;
      }

      &::after {
        content: '';
        display: block;
        height: 100%;
        width: 448px;
        height: 175px;
        position: absolute;
        right: -100px;
        top: 0;
        background-image: url('../img/header__bg.png');
        background-size: contain;
        background-position: right bottom;
        background-repeat: no-repeat;
        z-index: -1;
      }

      &::before {
        content: '';
        display: block;
        height: calc(100% - 60px);
        width: 3px;
        position: absolute;
        background-color: #c0cad9;
        border-radius: 20px;
        top: 30px;
        left: 0;
      }
    }
  }

  .pros-cons {
    width: 100%;
    left: 0;
  }

  .review-header {
    .header-card {
      &__mobile-box {
        display: none;
      }

      &__logo-box {
        width: auto;
        padding: 15px 30px;

        .link {
          display: none;
        }

        img {
          margin-bottom: 0;
        }
      }

      &__cta-box {
        display: flex;
        flex-direction: column;
        padding: 15px;
        padding-left: 0;
        row-gap: 10px;
        justify-content: center;
        width: 150px;
        flex-shrink: 0;

        .btn {
          width: 100%;
        }
      }

      &__content-box {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        padding: 15px;
        padding-left: 0;
        flex-grow: 1;

        .content-box{
          display: flex;
          flex-direction: column;

          &__title {
            display: none;
          }

          &__offer {
            font-weight: 500;
            font-size: 17px;
            line-height: 120%;
            color: #1E2B55;
            margin-bottom: 20px;
          }

          &__ranked {
            .card-rank {
              .star {
                width: 16px;
                height: 16px;
                margin-right: 4px;
              }
            }
          }
        }
      }
    }
  }

  .trigger-bar-card {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: auto auto auto; 
    grid-template-rows: auto auto; 
    gap: 0px 0px; 
    grid-template-areas: 
      "logo offer btn"
      "logo ranked btn"; 
    padding: 0;

    &__logo {
      flex-shrink: 0;
      margin-bottom: 0;
      padding: 15px;

      grid-area: logo;
      img {
        max-width: 150px;
        max-height: 100px;
      }
    }

    &__offer {
      order: 2;
      font-weight: 500;
      font-size: 17px;
      line-height: 120%;
      margin-bottom: 20px;
      text-align: left;
      padding-left: 15px;
      padding-top: 15px;
      padding-right: 0px;
      margin-top: auto;

      color: #1E2B55;
      grid-area: offer; 
    }

    &__ranked {
      order: 3;
      grid-area: ranked;
      padding: 0 15px;
      padding-bottom: 15px;
      margin-bottom: auto;
    }

    &__btn {
      padding: 15px;
      width: auto;
      flex-shrink: 0;
      grid-area: btn;

      .btn {
        width: 150px;
      }
    }
  }

  .article {
    iframe {
      max-height: 300px;
    }
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 34px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
      color: #262626;
      font-size: 22px;
  }

  h5 {
      color: #262626;
      font-size: 17px;
  }

  h6 {
      font-size: 16px; 
      color: #262626;
  }

  body {
    &.fixed {
      padding-right: 15px;
    }
  }

  .article {
    font-weight: 400;
    font-size: 17px;
    line-height: 140%;
    color: #4E4E4E;

    iframe {
      max-height: 390px;
    }
  }

  main {
    & > .article {
      display: flex;
      flex-direction: column;
      align-items: center;

      &-wrapper {
        max-width: 955px;
      }
    }
  }

  .main-card {
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.03);
    
    &.popular {
      .main-card__logo-box {
        padding-right: 15px;
        padding-left: 5px;
      }
    }

    &__val {
      width: 40px;
      height: 36px;
      font-size: 20px;
    }

    &__badge {
      font-size: 14px
    }

    &__logo-box {
      clip-path: unset;
      background: transparent;
      padding-left: 20px;
    }

    &__details-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 5px;
      width: 30%;
      min-width: 180px;
      padding-top: 13px;
      padding-bottom: 10px;

      & > *:last-child {
        margin-bottom: 0;
      }
    }

    &__ranked-box {
      min-width: 110px;
      padding-right: 10px;
    }

    &__offer-box {
      padding-left: 10px;
    }

    &__cta-wrapper {
      display: flex;
      align-items: flex-end;
    }

    &__logo-box {
      width: 30%;
      min-width: 200px;
      padding-right: 5px;
    }

    &__details-list {
      display: none;

      & > *:last-child {
        margin-bottom: 0;
      }
    }

    &__details-offer {
      font-weight: 700;
      font-size: 17px;
      line-height: 120%;
      margin-bottom: 10px;

      color: #101864;

      & > *:last-child {
        margin-bottom: 0;
      }
    }
  }

  .slider-bottom {
    &__list {
      .splide__arrow--prev {
        left: -30px;
      }

      .splide__arrow--next {
        right: -30px;
      }
    }
  }

  .nav {
    &__logo img {
        max-width: 200px;
        max-height: 26px;
    }
  } 

  .footer {
    padding-top: 24px;

    &__logo {
      display: flex;
      justify-content: flex-start;
    }

    &__links {
      margin-top: -9px;
      margin-bottom: 15px;

      ul {
        justify-content: flex-end;
        margin-right: -15px;

        a {
          font-size: 12px;
        }
      }
    }

    &__desc {
      font-size: 14px;
      text-align: left;
    }

    &__copy {
      margin-top: 0;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }

  .pros-cons {
    &__wrapper {
      flex-direction: row;
    }

    &__plus {
      flex-basis: 50%;
      flex-grow: 1;
      border-bottom: none;
      border-right: 2px solid #E9F2FF;
      padding-bottom: 0;
      margin-bottom: 0;
      padding-right: 20px;
    }

    &__minus {
      padding-left: 2em;
      flex-basis: 50%;
      flex-grow: 1;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .review-header {
    &__mobile-title {
      display: none;
    }

    &__card {
      order: 1;
      margin-bottom: 28px;
    }

    &__desc {
      margin-bottom: 0;
    }

    .header-card {
      align-items: stretch;

      &__content-box {
        align-items: center;
        justify-content: flex-start;
        margin: auto 0;
        flex-grow: 1;

        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: auto min-content; 
        grid-template-rows: min-content min-content; 
        gap: 10px 0;
        grid-template-areas: 
          "title title"
          "offer ranked"; 

        .content-box {
          &__title {
            display: block;
            font-size: 32px;
            line-height: 100%;
            grid-area: title; 
            margin-bottom: 0;
          }

          &__offer {
            margin-bottom: 0;
            grid-area: offer;
            
          }

          &__ranked {
            display: flex;
            justify-content: flex-end;

            grid-area: ranked;
          }
        }
      }
      
      &__logo-box {
        padding: 15px 20px;
        padding-right: 25px;
      }

      &__cta-box {
        padding-left: 15px;
        width: 160px;
      }
    }
  }

  .breadcrumbs {
    margin-bottom: 25px;
  }

  .trigger-bar-card {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__offer {
      margin: 0;
      padding: 15px;
      font-size: 17px;
      text-align: center;
      flex-grow: 1;
    }

    &__ranked {
      margin-bottom: 0;
      padding: 15px;
    }
  }
}

@media screen and (min-width: 790px) {
  .main-header {
    &::after {
      width: 272px;
      height: 221px;
    }
  }
}

@media screen and (min-width: 992px) {
  .categories-mobile {
    .splide.is-initialized:not(.is-active) .splide__list {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 20px;
    }

    .splide__track {
      width: 100%;
    }

    .splide__arrows {
      display: none;
    }
  }

  .main-card {
    &__offer-box {
      min-width: 210px;
      width: auto;
      flex-shrink: 0;
    }

    &__details-box {
      width: 50%;
    }

    &__ranked-box {
      width: 20%;
    }

    &__logo-box {
      width: 26%;
    }

    &__details-list {
      display: block;
      margin-bottom: 7px;

      ul {
        padding-left: 0;
        margin: 0;
        list-style: none;
        color: #262626;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        row-gap: 6px;

        li {
          line-height: 130%;
          position: relative;
          padding-left: 20px;

          &::before {
            display: inline-block;
            content: '';
            flex-shrink: 0;
            width: 13px;
            height: 10px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            position: absolute;
            left: 0;
            top: 4px;
            background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.1345 1.0578C11.6565 0.579844 10.8816 0.579843 10.4036 1.0578L4.20223 7.25919C3.72428 7.73715 3.72428 8.51207 4.20224 8.99003C4.68019 9.46798 5.45511 9.46798 5.93307 8.99003L12.1345 2.78863C12.6124 2.31068 12.6124 1.53576 12.1345 1.0578Z' fill='%2372E5FE'/%3E%3Cpath d='M0.850779 3.93926C0.380907 4.40913 0.380907 5.17095 0.850779 5.64082L4.21471 9.00475C4.68458 9.47462 5.4464 9.47462 5.91627 9.00475C6.38614 8.53488 6.38614 7.77306 5.91627 7.30319L2.55234 3.93926C2.08247 3.46939 1.32065 3.46939 0.850779 3.93926Z' fill='%2372E5FE'/%3E%3C/svg%3E%0A");
          }
        }
      }
    }

    &__link {
      font-size: 15px;
    }
  }

  .main-header {

    &__offer-desc {
      padding-right: 0;
    }

    &__offer {
      padding-right: 24%;
    }
  }

  .review-header {
    margin-bottom: 36px;
    
    .header-card {
      &__content-box {
        width: auto;
        padding-left: 28px;

        .content-box {
          &__title {
            font-size: 44px;
            flex-basis: auto;
            margin-bottom: 0;
          }

          &__offer {
            flex-basis: auto;
          }

          &__ranked {
            flex-basis: auto;
          }
        }
      }

      &__cta-box {
        width: 210px;
      }

      &__logo-box {
        position: relative;
        padding-right: 40px;
        padding-left: 26px;

        &::after {
          background-image: url("data:image/svg+xml,%3Csvg width='7' height='64' viewBox='0 0 7 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect opacity='0.6' width='1' height='64' fill='%2372E5FE'/%3E%3Crect opacity='0.6' x='6' y='11' width='1' height='42' fill='%2372E5FE'/%3E%3C/svg%3E%0A");
          display: block;
          position: absolute;
          right: 0;
          content: '';
          width: 7px;
          height: 64px;
        } 
      }
    }

    &__desc {
      font-size: 17px;
    } 
  }

  .trigger-bar-card {
    &__logo {
      position: relative;
      padding: 25px 40px 25px 26px;
      display: flex;
      align-items: center;

      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='7' height='64' viewBox='0 0 7 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect opacity='0.6' width='1' height='64' fill='%2372E5FE'/%3E%3Crect opacity='0.6' x='6' y='11' width='1' height='42' fill='%2372E5FE'/%3E%3C/svg%3E%0A");
        display: block;
        position: absolute;
        right: 0;
        content: '';
        width: 7px;
        height: 64px;
      } 
    }

    &__offer {
      text-align: left;
      padding-left: 40px;
      font-size: 21px;
      line-height: 130%;
      width: 25%;
    }

    &__ranked {
      flex-grow: 1;
      width: 20%;
      justify-content: center;
      display: flex;
    }

    &__btn {

      .btn {
        width: 180px;
      }
    }
  }

  .article {
    iframe {
      max-height: 526px;
    }
  }
}

@media screen and (min-width: 1100px) {
  .main-header__offer {
    padding-right: 19%;
  }
}

@media screen and (min-width: 1200px) {
  .nav {
    position: relative;
    background: transparent;

    &__bg-wrapper {
      display: block;
    }

    &_main {
      position: absolute;
      
      .nav__wrapper {
        padding-left: calc(230px + 40px);
      }
    }

    &__bg {
      background: $header-bg;
      height: 100%;
      width: calc(50vw + 50% + 75px);
      position: absolute;
      top: 0;
      left: -75px;
      right: 0;
      z-index: -1;
      overflow: hidden;
      border-radius: 0px 0px 0px 100px;

      &-wrapper {
        position: absolute;
        height: 100%;
        top: 0;
        width: 100%;
        flex-grow: 1;

        .container {
          position: relative;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
    
  .main-header {
    min-height: 236px;
    padding-top: 53px;
    position: relative;
    background: transparent;
    overflow: hidden;

    &::after {
      display: none;
    }

    &__bg {
      background: $header-bg;
      height: 100%;
      width: calc(50vw + 50% + 75px);
      position: absolute;
      top: 0;
      left: -75px;
      right: 0;
      z-index: -1;
      overflow: hidden;
      border-radius: 0px 0px 0px 100px;

      &::after {
        content: '';
        display: block;
        background-image: url('../img/header-img.png');
        width: 272px;
        height: 221px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 0;
        left: 25px;
        z-index: -1
      }

      &-wrapper {
        position: absolute;
        height: 100%;
        top: 0;
        width: 100%;
        flex-grow: 1;

        .container {
          position: relative;
          width: 100%;
          height: 100%;
        }
      }
    }

    &__offer {
      padding-right: 0;
      padding-left: calc(230px + 40px);

      &::before {
        left: 230px;
      }
    }

    .header__upd {
      padding-left: calc(230px + 40px);
    }
  }

  .categories-mobile {
    display: none;
  }

  .main-cards {
    padding-top: 0;
    flex-shrink: 0;
    flex-grow: 1;
  }

  .main-card {
    margin-bottom: 18px;
  }

  .main-content {
    padding-top: 15px;
    flex-grow: 1;

    &.default {
      padding-top: 0;
    }

    &__wrapper {
      display: flex;
      padding-top: 50px;
      flex-direction: row;
    }

    &__default {
      padding-top: 0;
    }

    .article {
      h1,h2,h3,h4,h5,h6 {
        &:first-child {
          margin-top: 0;
        }
      }

      &-wrapper {
        max-width: 953px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .side-bar {
    width: 270px;
    display: flex;
    padding-top: 0;

    &__block_m-none {
      display: block;
      position: sticky;
      top: 40px;
      padding-top: 0;
      padding-bottom: 23px;
      
      margin-bottom: 30px!important;

      .main-card__badge {
        margin-bottom: 13px;

        &.green {
          color: #00d6a2;
  
          &::before {
            background-image: url(../img/badge-icon1.svg);
          }
        }

        &.purple {
          color: #bb67fd;
  
          &::before {
            background-image: url(../img/badge-icon2.svg);
          }
        }
      }

      .side-bar__block-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding-top: 0;
      }

      .side-bar__block-logo {  
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-bottom: 13px;
        padding-top: 46px;

        &::before {
          position: absolute;
          top: 22px;
          content: '';
          display: block;
          width: 64px;
          height: 7px;
          background-image: url("data:image/svg+xml,%3Csvg width='64' height='7' viewBox='0 0 64 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='7' width='1' height='64' transform='rotate(-90 0 7)' fill='%2372E5FE'/%3E%3Crect x='11' y='1' width='1' height='42' transform='rotate(-90 11 1)' fill='%2372E5FE'/%3E%3C/svg%3E%0A");
        }

        img {
          width: 180px;
          height: 80px;
          object-fit: contain;
        }
      }

      .btn {
        width: 100%;
        font-size: 16px;
      }
    }

    &__categories {
      padding-left: 20px;
      padding-right: 20px;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        padding-left: 13px;

        li {
          display: flex;
          justify-content: center;
          flex-direction: column;
          width: 100%;
          color: #000000;
          font-weight: 400;
          font-size: 17px;
          position: relative;
          padding-left: 35px;

          &::before {
            position: absolute;
            left: 0;
            content: '';
            display: block;
            background: #000000;
            width: 20px;
            height: 1px;
          }

          &.current {
            color: #5771DD;
            font-weight: 500;

            &::before {
              background: #5771DD;
              height: 2px;
            }

            a {
              color: #5771DD;
            }
          }
        }

        a {
          text-decoration: none;
          color: #000000;
          display: flex;
          align-items: center;
          flex-grow: 1;
          width: 100%;
        }
      }
    }

    &_left {
      margin-right: 40px;
      width: 230px;
      margin-left: 0;
    }

    &_right {
      margin-left: 40px;
      padding-top: 0;
      width: 270px;
      flex-shrink: 0;

      .side-bar__block_top {
        margin-bottom: 0px;
      }

      & > *:last-child {
        margin-bottom: 0;
      }
    }
  }

  .pros-cons {
    padding-left: 2.5em;
  }  

  .review-header {
    .header-card__content-box .content-box__title {
      font-size: 34px;
    }
  }
  
  .trigger-bar-card__offer {
    font-size: 18px;
  }

  .article iframe {
    max-height: 450px;
  }
}

@media screen and (min-width: 1400px) {
  .slider-bottom {
    &__list {
     max-width: 1100px;
     margin-left: auto;
     margin-right: auto;
    }
  }

  .review-header {
    .header-card__content-box .content-box__title {
      font-size: 44px;
    }
  }

  .trigger-bar-card__offer {
    font-size: 21px;
  }

  .article iframe {
    max-height: 535px;
  }
}

// Desktop END